.section {
    width: 100%;
}

.section-content {
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 60px;
    text-align: center;
}

.top {
    position: relative;
}

.top .top1 {
    position: absolute;
    font-size: 48px;
    top: 200px;
    left: 30%;
    color: white;
    background-color: black;
}

.top3 {
    text-align: center;
}

h2 {
    color: #232323;
    &:first-child {
      margin-top: 0;
    }
}
  
h3 {
    color: #232323;
}
  
p {
    color: #232323;
}
  
.section-red {
    background-color: #ff6363;
}
  
.section-blue {
    background-color: #8fbbff;
}
  
.section-green {
    background-color: #fff;
}